# Generated Items
release
node_modules
npm-debug.log
config.json
Hyperspace
doc/Hyperspace
errors.log
dist
hyperspace-testing
.DS_Store

#VSCode
.vscode

# Vim
*.sw?

# IntelliJ
.idea
*.iml

profiles
test.json

*.zip
*.exe
